body, pre {
    font-family: "DejaVu Sans", sans-serif;
}

pre {
    margin-bottom: 0;
}

.formulaires, .accomp {
    max-width: 1600px !important;
}

.accomp {
    width: 80%;
}

.charts {
    max-width: 1200px !important;
}

canvas{
    text-align: center;
    }

.pointeur {
    cursor: pointer;
}

h2, .titre {
    font-size: x-large;
    font-weight: bold;
    color: rgb(101, 178, 222);
}

label {
    margin-left: 0.65em;
}

.btn-bleu:hover {
    background-color: rgba(101, 178, 255, 0.8);
    color: rgb(25, 30, 54);
    border: none;
}

.btn-bleu, .btn-bleu:visited, .btn-bleu:focus, .btn-bleu.active:focus {
    background-color: rgb(101, 178, 222);
    color: rgb(25, 30, 54);
    border: none;
}

/* ----------------------------------------------------------------------------- NAVBAR */
.navbar {
    background-color: rgb(25, 30, 54);
    font-size: medium;
    letter-spacing: 1px;
}

.nav-pills .nav-link {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    color: rgb(218, 51, 80) !important;
    background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link-toggle {
  color: rgb(25, 30, 54) !important;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff !important;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------- COULEURS PLM */
.marine {
    color: rgb(25, 30, 54);
}
.bleu {
    color: rgb(101, 178, 222);
}
.rose {
    color: rgb(218, 51, 80);
}
.rose-bold {
    color: rgb(218, 51, 80);
    font-weight: bold;
}
.bg-marine {
    background-color: rgb(25, 30, 54);
}
.bg-bleu {
    background-color: rgb(101, 178, 222);
}
.bg-rose {
    background-color: rgb(218, 51, 80);
}

/* ----------------------------------------------------------------------------- RESPONSIVE*/
@media screen and (min-width: 576px) and (max-width: 980px){
    .formulaires, .search-bar {
        max-width: 576px !important;
    }
}

@media screen and (max-width: 415px) {
    .titre {
        font-size: 0.90em;
    }
    h2 {
        font-size: 1.25em;
    }
    .accomp {
        max-width: 330px !important;
    }
}

@media screen and (max-width: 576px) {
    .search_bar {
        max-width: 400px !important;
    }
    /* ----------------------------------------------------------------------------- Tronquage de la partie IDF du titre */
    #nav_titre {
        display: none;
    }
}

/* ----------------------------------------------------------------------------- Suppression du logo */
@media screen and (max-width: 1300px) {
    #nav_img {
        display: none;
    }
}

/* ----------------------------------------------------------------------------- Taille min des div */
@media screen and (min-width: 1400px) {
    .div_marine {
        min-width: 450px !important;
    }
}

/* ----------------------------------------------------------------------------- Taille min des div */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .div_marine {
        min-width: 380px !important;
    }
}
