body {
    /* background-image: url(img/arbre_reseau3_left.png),url(img/arbre_reseau3_right.png);
    background-repeat: no-repeat,no-repeat;
    background-position: top 6.2em left,top 5.7em right;
    background-attachment: fixed; */
    font-family: "DejaVu Sans", sans-serif;
}

.pointeur {
    cursor: pointer;
}

h2, .titre {
    font-size: x-large;
    font-weight: bold;
    color: rgb(101, 178, 222);
}

label {
    margin-left: 0.65em;
}

.btn-bleu:hover {
    background-color: rgb(101, 178, 255);
    color: rgb(25, 30, 54);
}

/* ----------------------------------------------------------------------------- NAVBAR */
.navbar {
    background-color: rgb(25, 30, 54);
    font-size: medium;
    letter-spacing: 1px;
}

.nav-pills .nav-link {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    color: rgb(218, 51, 80) !important;
    background-color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-link-toggle {
  color: rgb(25, 30, 54) !important;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff !important;
  border-radius: 10px;
}

/* ----------------------------------------------------------------------------- COULEURS PLM */
.marine {
    color: rgb(25, 30, 54);
}
.bleu {
    color: rgb(101, 178, 222);
}
.beige {
    color: rgb(200, 184, 162);
}
.rose {
    color: rgb(218, 51, 80);
}

.rose-bold {
    color: rgb(218, 51, 80);
    font-weight: bold;
}

.bg-marine {
    background-color: rgb(25, 30, 54);
}
.bg-bleu {
    background-color: rgb(101, 178, 222);
}
.bg-beige {
    background-color: rgb(200, 184, 162);
}
.bg-rose {
    background-color: rgb(218, 51, 80);
}
